* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
}
#container {
    padding: 10px;
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    background-color: #e5e5e5;
    margin-top: 20px;
}
/* width */
::-webkit-scrollbar {
    width: 7.5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #fff;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}
#all_qestion {
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    text-align: right;
    vertical-align: top;
    background-color: #e5e5e5;
    scrollbar-width: 10px;
    p {
        font-size: 1.75em;
        padding: 10px;
    }
    img {
        width: 100%;
        max-width: 50px;
        margin: auto;
        text-align: left;
        vertical-align: top;
        background-color: #e5e5e5;
    }
    #qestion_output {
        padding: 2px;
        display: block;
        height: 200px;
        overflow-y: auto;
    }
    .question {
        overflow-clip-margin: 10px;
        display: block;
        padding: 15px;
        font-size: 1.5em;
        color: #fff;
        width: 100%;
        margin: 0 auto;
        text-align: left;
        background-color: #222831;
    }
}
#time,
#result,
#word {
    text-shadow: 1px 1px 5px #333;
    font-size: 2em;
    font-weight: bold;
    color: #222831;
    text-align: center;
    margin-top: 50px;
    #word {
        font-size: 1em;
    }
}
#click_speak {
    box-shadow: 0 0 20px #333;
    margin: 20px;
    padding: 10px;
    font-size: 2em;
    font-weight: bold;
    color: #fff;
    text-align: center;
    margin-top: 50px;
    background-color: #333;
}
